language: dart
sudo: required
addons:
  chrome: stable
matrix:
  include:
    - dart: dev
      script:
        - pub run dart_dev analyze
        - pub run dart_dev format --check
    - dart: dev
      dart_task:
        test: --platform firefox -j 1
    - dart: dev
      dart_task:
        test: --platform chrome
    - dart: stable
      script:
        - pub run dart_dev analyze
    - dart: stable
      dart_task:
        test: --platform dartium
        install_dartium: true
    - dart: stable
      with_content_shell: true
      before_install:
        - export DISPLAY=:99.0
        - sh -e /etc/init.d/xvfb start
        - sleep 3
      script:
        - pub run dart_dev coverage --no-html
        - bash <(curl -s https://codecov.io/bash) -f coverage/coverage.lcov
cache:
  directories:
    - $HOME/.pub-cache
